.header {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-btn {
  color: white;
  border: 0;
  background: #0084ff;
  padding: 8px 16px;
  border-radius: 16px;
  font-weight: bold;
  margin: 0 0 0 16px;
  cursor: pointer;
}

snippyly-comment-tool {
  position: fixed;
  z-index: 1000000;
  bottom: 24px;
  right: 24px;
}

snippyly-comment-tool .add-comment-btn {
  padding: 0.75rem;
  background: #fff3d1;
  border-radius: 50%;
  cursor: pointer;
  background: white;
  /* background: #e7e7e7; */
  box-shadow: 2px 2px 8px -2px grey;
}

snippyly-comment-tool .add-comment-btn img {
  width: 1.5rem;
  height: 1.5rem;
}